<!DOCTYPE html>
<html>
<head>
  <title>How It Works</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>How It Works</h1>
  <ol>
    <li>Upload your product logo</li>
    <li>Select a branding package</li>
    <li>Pay securely</li>
    <li>Download your branded mockups</li>
  </ol>
  <a href="/packages">Choose a Package</a>
</body>
</html>
