<!DOCTYPE html>
<html>
<head>
  <title>Brands On Demand</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Get Your Product Branded Instantly</h1>
    <p>Professional branding packages delivered on demand.</p>
    <a href="/packages">Start Branding Now</a>
  </header>
</body>
</html>
